.initial-content {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.initial-context-text {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.company-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.company-logos img {
  mix-blend-mode: luminosity;
}
